:root{
    --base : #ffc600;
    --spacing : 10px;
    --blur : 10px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
h1{
    color: var(--base);
}












/* Below css as nothing to do with JS change */

body{
    background: #aabb;
    text-align: center;
}

h1{
    font-size: 70px;
}

.control{
    color: white;
    font-size: 50px;
}

img{
    height: 400px;
    width: 800px;
    margin-top: 50px;
}