body{
    background: #aabb;
    text-align: center;
}

h1{
    color: white;
    font-size: 70px;
}

.control{
    color: white;
    font-size: 50px;
}

img{
    height: 400px;
    width: 800px;
    margin-top: 50px;
}